<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.runlion.shop.dao.BspNewsMapper" >
	
	<select id="selectNewsByType" parameterType="map" resultType="java.util.HashMap">
		select newsid, newstypeid, isshow, istop, ishome, displayorder, DATE_FORMAT(addtime,'%Y-%m-%d %T') addtime ,title  
		from bsp_news
		where newstypeid = #{NEWSTYPE_ID}
		and isshow = 1
		<if test="IS_HOME != null and IS_HOME != -1 ">
		and ishome = #{IS_HOME}
		</if>
		order by istop desc, displayorder, addtime desc
		limit 0, ${LIMIT_NUM}
	</select>
	
	<delete id="deleteNewsById" parameterType="map">
		delete from bsp_news where newsid = #{ID}
	</delete>
	
	<update id="updateNewsById" parameterType="map" >
		update bsp_news
		set newstypeid = #{NEWSTYPE_ID}
		,isshow = #{IS_SHOW}
		,istop = #{IS_TOP}
		,ishome = #{IS_HOME}
		,displayorder = #{DISPLAYORDER}
		,title = #{TITLE}
		,body = #{BODY}
		where newsid = #{ID}
	</update>
	
	<select id="selectNewsById" parameterType="map" resultType="java.util.HashMap">
		select newsid, newstypeid, isshow, istop, ishome, displayorder, DATE_FORMAT(addtime,'%Y-%m-%d %T') addtime ,title,url, convert(body,char) body 
		from bsp_news where newsid = #{ID}
	</select>
	
	<insert id="insertNews" parameterType="map">
		insert into bsp_news(newstypeid, isshow, istop, ishome, displayorder, addtime, title, url, body)
		values(#{NEWSTYPE_ID}, #{IS_SHOW}, #{IS_TOP}, #{IS_HOME}, #{DISPLAYORDER}, sysdate(),#{TITLE}, #{URL}, #{BODY})
	</insert>

	<select id="countNews" parameterType="map" resultType="java.lang.Integer">
		select count(1) cnt
		from (
			select newsid, newstypeid, isshow, istop, ishome, displayorder, DATE_FORMAT(addtime,'%Y-%m-%d %T') addtime ,title,url
			from bsp_news
			where 1=1
			<if test="NEWSTYPE_ID != null and NEWSTYPE_ID != '' ">
			and newstypeid = #{NEWSTYPE_ID}
			</if>
		)a
	</select>
	
	<select id="selectNewsLimit" parameterType="map" resultType="java.util.HashMap">
		select newsid,	a.newstypeid,	b.name newstypename,	isshow, istop,	ishome,	a.displayorder,	DATE_FORMAT(addtime, '%Y-%m-%d %T') addtime,	title,	url,	CONVERT (body, CHAR) body
		from bsp_news a left join bsp_newstypes b on a.newstypeid = b.newstypeid
		where 1=1
		<if test="NEWSTYPE_ID != null and NEWSTYPE_ID != -1 ">
		and newstypeid = #{NEWSTYPE_ID}
		</if>
		order by displayorder 
		limit ${START_NUM},${LIMIT_NUM}
	</select>

  <resultMap id="BaseResultMap" type="com.runlion.shop.entity.BspNews" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Jun 26 14:56:27 CST 2015.
    -->
    <id column="newsid" property="newsid" jdbcType="INTEGER" />
    <result column="newstypeid" property="newstypeid" jdbcType="SMALLINT" />
    <result column="isshow" property="isshow" jdbcType="TINYINT" />
    <result column="istop" property="istop" jdbcType="TINYINT" />
    <result column="ishome" property="ishome" jdbcType="TINYINT" />
    <result column="displayorder" property="displayorder" jdbcType="INTEGER" />
    <result column="addtime" property="addtime" jdbcType="TIMESTAMP" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.runlion.shop.entity.BspNews" extends="BaseResultMap" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Jun 26 14:56:27 CST 2015.
    -->
    <result column="body" property="body" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Jun 26 14:56:27 CST 2015.
    -->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Jun 26 14:56:27 CST 2015.
    -->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Jun 26 14:56:27 CST 2015.
    -->
    newsid, newstypeid, isshow, istop, ishome, displayorder, addtime, title, url
  </sql>
  <sql id="Blob_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Jun 26 14:56:27 CST 2015.
    -->
    body
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.runlion.shop.entity.BspNewsExample" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Jun 26 14:56:27 CST 2015.
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from bsp_news
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.runlion.shop.entity.BspNewsExample" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Jun 26 14:56:27 CST 2015.
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bsp_news
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Jun 26 14:56:27 CST 2015.
    -->
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from bsp_news
    where newsid = #{newsid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Jun 26 14:56:27 CST 2015.
    -->
    delete from bsp_news
    where newsid = #{newsid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.runlion.shop.entity.BspNewsExample" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Jun 26 14:56:27 CST 2015.
    -->
    delete from bsp_news
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.runlion.shop.entity.BspNews" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Jun 26 14:56:27 CST 2015.
    -->
    insert into bsp_news (newsid, newstypeid, isshow, 
      istop, ishome, displayorder, 
      addtime, title, url, 
      body)
    values (#{newsid,jdbcType=INTEGER}, #{newstypeid,jdbcType=SMALLINT}, #{isshow,jdbcType=TINYINT}, 
      #{istop,jdbcType=TINYINT}, #{ishome,jdbcType=TINYINT}, #{displayorder,jdbcType=INTEGER}, 
      #{addtime,jdbcType=TIMESTAMP}, #{title,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{body,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.runlion.shop.entity.BspNews" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Jun 26 14:56:27 CST 2015.
    -->
    insert into bsp_news
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="newsid != null" >
        newsid,
      </if>
      <if test="newstypeid != null" >
        newstypeid,
      </if>
      <if test="isshow != null" >
        isshow,
      </if>
      <if test="istop != null" >
        istop,
      </if>
      <if test="ishome != null" >
        ishome,
      </if>
      <if test="displayorder != null" >
        displayorder,
      </if>
      <if test="addtime != null" >
        addtime,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="body != null" >
        body,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="newsid != null" >
        #{newsid,jdbcType=INTEGER},
      </if>
      <if test="newstypeid != null" >
        #{newstypeid,jdbcType=SMALLINT},
      </if>
      <if test="isshow != null" >
        #{isshow,jdbcType=TINYINT},
      </if>
      <if test="istop != null" >
        #{istop,jdbcType=TINYINT},
      </if>
      <if test="ishome != null" >
        #{ishome,jdbcType=TINYINT},
      </if>
      <if test="displayorder != null" >
        #{displayorder,jdbcType=INTEGER},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="body != null" >
        #{body,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.runlion.shop.entity.BspNewsExample" resultType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Jun 26 14:56:27 CST 2015.
    -->
    select count(*) from bsp_news
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Jun 26 14:56:27 CST 2015.
    -->
    update bsp_news
    <set >
      <if test="record.newsid != null" >
        newsid = #{record.newsid,jdbcType=INTEGER},
      </if>
      <if test="record.newstypeid != null" >
        newstypeid = #{record.newstypeid,jdbcType=SMALLINT},
      </if>
      <if test="record.isshow != null" >
        isshow = #{record.isshow,jdbcType=TINYINT},
      </if>
      <if test="record.istop != null" >
        istop = #{record.istop,jdbcType=TINYINT},
      </if>
      <if test="record.ishome != null" >
        ishome = #{record.ishome,jdbcType=TINYINT},
      </if>
      <if test="record.displayorder != null" >
        displayorder = #{record.displayorder,jdbcType=INTEGER},
      </if>
      <if test="record.addtime != null" >
        addtime = #{record.addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null" >
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.body != null" >
        body = #{record.body,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Jun 26 14:56:27 CST 2015.
    -->
    update bsp_news
    set newsid = #{record.newsid,jdbcType=INTEGER},
      newstypeid = #{record.newstypeid,jdbcType=SMALLINT},
      isshow = #{record.isshow,jdbcType=TINYINT},
      istop = #{record.istop,jdbcType=TINYINT},
      ishome = #{record.ishome,jdbcType=TINYINT},
      displayorder = #{record.displayorder,jdbcType=INTEGER},
      addtime = #{record.addtime,jdbcType=TIMESTAMP},
      title = #{record.title,jdbcType=VARCHAR},
      url = #{record.url,jdbcType=VARCHAR},
      body = #{record.body,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Jun 26 14:56:27 CST 2015.
    -->
    update bsp_news
    set newsid = #{record.newsid,jdbcType=INTEGER},
      newstypeid = #{record.newstypeid,jdbcType=SMALLINT},
      isshow = #{record.isshow,jdbcType=TINYINT},
      istop = #{record.istop,jdbcType=TINYINT},
      ishome = #{record.ishome,jdbcType=TINYINT},
      displayorder = #{record.displayorder,jdbcType=INTEGER},
      addtime = #{record.addtime,jdbcType=TIMESTAMP},
      title = #{record.title,jdbcType=VARCHAR},
      url = #{record.url,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.runlion.shop.entity.BspNews" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Jun 26 14:56:27 CST 2015.
    -->
    update bsp_news
    <set >
      <if test="newstypeid != null" >
        newstypeid = #{newstypeid,jdbcType=SMALLINT},
      </if>
      <if test="isshow != null" >
        isshow = #{isshow,jdbcType=TINYINT},
      </if>
      <if test="istop != null" >
        istop = #{istop,jdbcType=TINYINT},
      </if>
      <if test="ishome != null" >
        ishome = #{ishome,jdbcType=TINYINT},
      </if>
      <if test="displayorder != null" >
        displayorder = #{displayorder,jdbcType=INTEGER},
      </if>
      <if test="addtime != null" >
        addtime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="body != null" >
        body = #{body,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where newsid = #{newsid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.runlion.shop.entity.BspNews" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Jun 26 14:56:27 CST 2015.
    -->
    update bsp_news
    set newstypeid = #{newstypeid,jdbcType=SMALLINT},
      isshow = #{isshow,jdbcType=TINYINT},
      istop = #{istop,jdbcType=TINYINT},
      ishome = #{ishome,jdbcType=TINYINT},
      displayorder = #{displayorder,jdbcType=INTEGER},
      addtime = #{addtime,jdbcType=TIMESTAMP},
      title = #{title,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      body = #{body,jdbcType=LONGVARCHAR}
    where newsid = #{newsid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.runlion.shop.entity.BspNews" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Jun 26 14:56:27 CST 2015.
    -->
    update bsp_news
    set newstypeid = #{newstypeid,jdbcType=SMALLINT},
      isshow = #{isshow,jdbcType=TINYINT},
      istop = #{istop,jdbcType=TINYINT},
      ishome = #{ishome,jdbcType=TINYINT},
      displayorder = #{displayorder,jdbcType=INTEGER},
      addtime = #{addtime,jdbcType=TIMESTAMP},
      title = #{title,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR}
    where newsid = #{newsid,jdbcType=INTEGER}
  </update>
</mapper>