<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.runlion.shop.dao.BspUsersMapper">

	<select id="selectUuidParams" parameterType="map" resultType="java.util.HashMap">
		select *
		from bsp_uuid_params
		where uuid = #{UUID}
	</select>

	<insert id="insertUuidParams" parameterType="map">
		insert into
		bsp_uuid_params(uuid, methodname, paramstr, inserttime)
		values(#{UUID}, #{METHOD_NAME}, #{PARAM_STR}, sysdate())
	</insert>

	<update id="updateUserPwd" parameterType="map">
		update bsp_users
		set
		password = #{PASSWORD}
		where uid = #{UID}
	</update>

	<select id="selectByExamplePrice" parameterType="map"
		resultType="java.util.HashMap">
		select * from bsp_users order by uid desc limit
		${START_NUM},${LIMIT_NUM}
	</select>

	<select id="selectUserByLoginname" parameterType="map"
		resultType="java.util.HashMap">
		select *
		from bsp_users
		where userrid != 1
		and username =
		#{USER_NAME}
	</select>

	<insert id="insertUserDetails" parameterType="map">
		insert into
		bsp_userdetails(uid, lastvisittime, lastvisitip, registertime,
		registerip,bio)
		values(#{UID}, sysdate(),#{IP}, sysdate(), #{IP},'')
	</insert>

	<insert id="insertUser" parameterType="map">
		insert into bsp_users(uid,
		username, password, userrid, nickname, mobile)
		values(#{UID},
		#{USER_NAME}, #{PASSWORD}, 6, #{USER_NAME}, #{MOBILE})
	</insert>

	<select id="getUserMaxId" parameterType="map" resultType="java.lang.Integer">
		select
		max(uid) from bsp_users
	</select>

	<select id="hasSameUsername" parameterType="map" resultType="java.lang.Integer">
		select count(1) cnt from bsp_users where username = #{USER_NAME}
	</select>

	<select id="selectUserEffect" parameterType="map" resultType="java.util.HashMap">
		select a.*
		from bsp_users a
		where a.userrid != 1
		and a.username =
		binary(#{USER_NAME})
		and a.password =
		#{PASSWORD}
	</select>

	<resultMap id="BaseResultMap" type="com.runlion.shop.entity.BspUsers">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Fri Jun 26 
			14:56:27 CST 2015. -->
		<id column="uid" property="uid" jdbcType="INTEGER" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="mobile" property="mobile" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="userrid" property="userrid" jdbcType="INTEGER" />
		<result column="admingid" property="admingid" jdbcType="INTEGER" />
		<result column="nickname" property="nickname" jdbcType="VARCHAR" />
		<result column="avatar" property="avatar" jdbcType="VARCHAR" />
		<result column="paycredits" property="paycredits" jdbcType="INTEGER" />
		<result column="rankcredits" property="rankcredits" jdbcType="INTEGER" />
		<result column="verifyemail" property="verifyemail" jdbcType="TINYINT" />
		<result column="verifymobile" property="verifymobile" jdbcType="TINYINT" />
		<result column="liftbantime" property="liftbantime" jdbcType="DATE" />
		<result column="salt" property="salt" jdbcType="VARCHAR" />
		<result column="buyerNum" property="buyerNum" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Fri Jun 26 
			14:56:27 CST 2015. -->
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Fri Jun 26 
			14:56:27 CST 2015. -->
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Fri Jun 26 
			14:56:27 CST 2015. -->
		uid, username, email, mobile, password, userrid, admingid, nickname,
		avatar, paycredits,
		rankcredits, verifyemail, verifymobile,
		liftbantime, salt, buyerNum
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.runlion.shop.entity.BspUsersExample">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Fri Jun 26 
			14:56:27 CST 2015. -->
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from bsp_users
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Fri Jun 26 
			14:56:27 CST 2015. -->
		select
		<include refid="Base_Column_List" />
		from bsp_users
		where uid = #{uid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Fri Jun 26 
			14:56:27 CST 2015. -->
		delete from bsp_users
		where uid = #{uid,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample" parameterType="com.runlion.shop.entity.BspUsersExample">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Fri Jun 26 
			14:56:27 CST 2015. -->
		delete from bsp_users
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.runlion.shop.entity.BspUsers">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Fri Jun 26 
			14:56:27 CST 2015. -->
		insert into bsp_users (uid, username, email,
		mobile, password, userrid,
		admingid, nickname, avatar,
		paycredits, rankcredits, verifyemail,
		verifymobile, liftbantime, salt, buyerNum
		)
		values (#{uid,jdbcType=INTEGER},
		#{username,jdbcType=VARCHAR},
		#{email,jdbcType=VARCHAR},
		#{mobile,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
		#{userrid,jdbcType=INTEGER},
		#{admingid,jdbcType=INTEGER},
		#{nickname,jdbcType=VARCHAR},
		#{avatar,jdbcType=VARCHAR},
		#{paycredits,jdbcType=INTEGER}, #{rankcredits,jdbcType=INTEGER},
		#{verifyemail,jdbcType=TINYINT},
		#{verifymobile,jdbcType=TINYINT},
		#{liftbantime,jdbcType=DATE},
		#{salt,jdbcType=VARCHAR},
		#{buyerNum,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.runlion.shop.entity.BspUsers">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Fri Jun 26 
			14:56:27 CST 2015. -->
		insert into bsp_users
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="uid != null">
				uid,
			</if>
			<if test="username != null">
				username,
			</if>
			<if test="email != null">
				email,
			</if>
			<if test="mobile != null">
				mobile,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="userrid != null">
				userrid,
			</if>
			<if test="admingid != null">
				admingid,
			</if>
			<if test="nickname != null">
				nickname,
			</if>
			<if test="avatar != null">
				avatar,
			</if>
			<if test="paycredits != null">
				paycredits,
			</if>
			<if test="rankcredits != null">
				rankcredits,
			</if>
			<if test="verifyemail != null">
				verifyemail,
			</if>
			<if test="verifymobile != null">
				verifymobile,
			</if>
			<if test="liftbantime != null">
				liftbantime,
			</if>
			<if test="salt != null">
				salt,
			</if>
			<if test="buyerNum != null">
				buyerNum,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="uid != null">
				#{uid,jdbcType=INTEGER},
			</if>
			<if test="username != null">
				#{username,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="mobile != null">
				#{mobile,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="userrid != null">
				#{userrid,jdbcType=INTEGER},
			</if>
			<if test="admingid != null">
				#{admingid,jdbcType=INTEGER},
			</if>
			<if test="nickname != null">
				#{nickname,jdbcType=VARCHAR},
			</if>
			<if test="avatar != null">
				#{avatar,jdbcType=VARCHAR},
			</if>
			<if test="paycredits != null">
				#{paycredits,jdbcType=INTEGER},
			</if>
			<if test="rankcredits != null">
				#{rankcredits,jdbcType=INTEGER},
			</if>
			<if test="verifyemail != null">
				#{verifyemail,jdbcType=TINYINT},
			</if>
			<if test="verifymobile != null">
				#{verifymobile,jdbcType=TINYINT},
			</if>
			<if test="liftbantime != null">
				#{liftbantime,jdbcType=DATE},
			</if>
			<if test="salt != null">
				#{salt,jdbcType=VARCHAR},
			</if>
			<if test="buyerNum != null">
				#{buyerNum,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.runlion.shop.entity.BspUsersExample"
		resultType="java.lang.Integer">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Fri Jun 26 
			14:56:27 CST 2015. -->
		select count(*) from bsp_users
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Fri Jun 26 
			14:56:27 CST 2015. -->
		update bsp_users
		<set>
			<if test="record.uid != null">
				uid = #{record.uid,jdbcType=INTEGER},
			</if>
			<if test="record.username != null">
				username = #{record.username,jdbcType=VARCHAR},
			</if>
			<if test="record.email != null">
				email = #{record.email,jdbcType=VARCHAR},
			</if>
			<if test="record.mobile != null">
				mobile = #{record.mobile,jdbcType=VARCHAR},
			</if>
			<if test="record.password != null">
				password = #{record.password,jdbcType=VARCHAR},
			</if>
			<if test="record.userrid != null">
				userrid = #{record.userrid,jdbcType=INTEGER},
			</if>
			<if test="record.admingid != null">
				admingid = #{record.admingid,jdbcType=INTEGER},
			</if>
			<if test="record.nickname != null">
				nickname = #{record.nickname,jdbcType=VARCHAR},
			</if>
			<if test="record.avatar != null">
				avatar = #{record.avatar,jdbcType=VARCHAR},
			</if>
			<if test="record.paycredits != null">
				paycredits = #{record.paycredits,jdbcType=INTEGER},
			</if>
			<if test="record.rankcredits != null">
				rankcredits = #{record.rankcredits,jdbcType=INTEGER},
			</if>
			<if test="record.verifyemail != null">
				verifyemail = #{record.verifyemail,jdbcType=TINYINT},
			</if>
			<if test="record.verifymobile != null">
				verifymobile = #{record.verifymobile,jdbcType=TINYINT},
			</if>
			<if test="record.liftbantime != null">
				liftbantime = #{record.liftbantime,jdbcType=DATE},
			</if>
			<if test="record.salt != null">
				salt = #{record.salt,jdbcType=VARCHAR},
			</if>
			<if test="record.buyerNum != null">
				buyerNum = #{record.buyerNum,jdbcType=VARCHAR},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Fri Jun 26 
			14:56:27 CST 2015. -->
		update bsp_users
		set uid = #{record.uid,jdbcType=INTEGER},
		username =
		#{record.username,jdbcType=VARCHAR},
		email =
		#{record.email,jdbcType=VARCHAR},
		mobile =
		#{record.mobile,jdbcType=VARCHAR},
		password =
		#{record.password,jdbcType=VARCHAR},
		userrid =
		#{record.userrid,jdbcType=INTEGER},
		admingid =
		#{record.admingid,jdbcType=INTEGER},
		nickname =
		#{record.nickname,jdbcType=VARCHAR},
		avatar =
		#{record.avatar,jdbcType=VARCHAR},
		paycredits =
		#{record.paycredits,jdbcType=INTEGER},
		rankcredits =
		#{record.rankcredits,jdbcType=INTEGER},
		verifyemail =
		#{record.verifyemail,jdbcType=TINYINT},
		verifymobile =
		#{record.verifymobile,jdbcType=TINYINT},
		liftbantime =
		#{record.liftbantime,jdbcType=DATE},
		salt =
		#{record.salt,jdbcType=VARCHAR},
		buyerNum =
		#{record.buyerNum,jdbcType=VARCHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.runlion.shop.entity.BspUsers">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Fri Jun 26 
			14:56:27 CST 2015. -->
		update bsp_users
		<set>
			<if test="username != null">
				username = #{username,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="mobile != null">
				mobile = #{mobile,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="userrid != null">
				userrid = #{userrid,jdbcType=INTEGER},
			</if>
			<if test="admingid != null">
				admingid = #{admingid,jdbcType=INTEGER},
			</if>
			<if test="nickname != null">
				nickname = #{nickname,jdbcType=VARCHAR},
			</if>
			<if test="avatar != null">
				avatar = #{avatar,jdbcType=VARCHAR},
			</if>
			<if test="paycredits != null">
				paycredits = #{paycredits,jdbcType=INTEGER},
			</if>
			<if test="rankcredits != null">
				rankcredits = #{rankcredits,jdbcType=INTEGER},
			</if>
			<if test="verifyemail != null">
				verifyemail = #{verifyemail,jdbcType=TINYINT},
			</if>
			<if test="verifymobile != null">
				verifymobile = #{verifymobile,jdbcType=TINYINT},
			</if>
			<if test="liftbantime != null">
				liftbantime = #{liftbantime,jdbcType=DATE},
			</if>
			<if test="salt != null">
				salt = #{salt,jdbcType=VARCHAR},
			</if>
			<if test="buyerNum != null">
				buyerNum = #{buyerNum,jdbcType=VARCHAR},
			</if>
		</set>
		where uid = #{uid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.runlion.shop.entity.BspUsers">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Fri Jun 26 
			14:56:27 CST 2015. -->
		update bsp_users
		set username = #{username,jdbcType=VARCHAR},
		email =
		#{email,jdbcType=VARCHAR},
		mobile = #{mobile,jdbcType=VARCHAR},
		password = #{password,jdbcType=VARCHAR},
		userrid =
		#{userrid,jdbcType=INTEGER},
		admingid = #{admingid,jdbcType=INTEGER},
		nickname = #{nickname,jdbcType=VARCHAR},
		avatar =
		#{avatar,jdbcType=VARCHAR},
		paycredits =
		#{paycredits,jdbcType=INTEGER},
		rankcredits =
		#{rankcredits,jdbcType=INTEGER},
		verifyemail =
		#{verifyemail,jdbcType=TINYINT},
		verifymobile =
		#{verifymobile,jdbcType=TINYINT},
		liftbantime =
		#{liftbantime,jdbcType=DATE},
		salt = #{salt,jdbcType=VARCHAR},
		buyerNum = #{buyerNum,jdbcType=VARCHAR}
		where uid
		= #{uid,jdbcType=INTEGER}
	</update>
</mapper>