<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.runlion.shop.dao.CartMapper" >
	
	<!-- 添加购物车  -->
	<insert id="insert" parameterType="com.runlion.shop.entity.Cart" useGeneratedKeys="true" keyProperty="id">
		insert into bsp_cart ( productId, count,userId)
		values (#{productId}, #{count }, #{userId })
	</insert>
  
  
  	<!-- 根据用户id获取购物车产品数量 -->
  	<select id="getCartCountByUserId" parameterType="int" resultType="int">
  		SELECT count(*) from bsp_cart c,bsp_products b where c.productId = b.pid and c.userId = #{userId}
  	</select>
  	<!--通过用户id获取购物车快照  -->
  	<select id="getCartSnapByUserId" parameterType="int" resultType="com.runlion.shop.vo.CartSnapVO">
  		SELECT name,marketprice ,showimg,count,pid ,weight,quantityunitid from bsp_products p ,bsp_cart c 
  		where 
  		c.productId = p.pid  and  c.userId = #{userId}
  	</select>
  	
  	<!--通过用户id和产品id获取购物车  -->
  	<select id="getCart" parameterType="com.runlion.shop.entity.Cart" resultType="com.runlion.shop.entity.Cart">
		SELECT * from bsp_cart c 
		where 
		c.productId = #{productId}  and  c.userId = #{userId}
  	</select>
  	
  	<!-- 更新数量 -->
  	<update id="updateAddCount" parameterType="int">
  		update bsp_cart c set c.count=c.count + #{count} where c.id = #{id} 
  	</update>
  	
  	<!-- 更新数量 -->
  	<update id="updateCount" parameterType="int">
  		update bsp_cart c set c.count=#{count} where c.userId = #{userId} and c.productId =#{productId}
  	</update>
  	
  	<!-- 根据用户id和产品id删除购物车 -->
  	<delete id="deleteCartByUserIdAndPid" parameterType="com.runlion.shop.entity.Cart">
  		delete from bsp_cart WHERE userId = #{userId} and productId =#{productId}
  	</delete>
  	
  	  	<!-- 根据用户id删除购物车 -->
  	<delete id="deleteCartByUserId" parameterType="com.runlion.shop.entity.Cart">
  		delete from bsp_cart WHERE userId = #{userId}
  	</delete>
  	
  	<!--通过用户id和产品获取购物车快照  -->
  	<select id="getCartSnapByUidAndPid" parameterType="int" resultType="com.runlion.shop.vo.CartSnapVO">
  		SELECT name,marketprice ,showimg,count,pid ,weight from bsp_products p ,bsp_cart c 
  		where 
  		c.productId = p.pid  and  c.userId = #{userId} and p.pid =#{pid}
  	</select>
</mapper>