<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>SpringEhCache</display-name>

	<!-- 缓存、gzip压缩核心过滤器 -->

	<filter>

		<filter-name>PageEhCacheFilter</filter-name>

		<filter-class>com.hoo.ehcache.filter.PageEhCacheFilter</filter-class>

		<init-param>

			<param-name>patterns</param-name>

			<!-- 配置你需要缓存的url -->

			<param-value>/cache.jsp, product.action, market.action </param-value>

		</init-param>

	</filter>

	<filter-mapping>

		<filter-name>PageEhCacheFilter</filter-name>

		<url-pattern>*.action</url-pattern>

	</filter-mapping>

	<filter-mapping>

		<filter-name>PageEhCacheFilter</filter-name>

		<url-pattern>*.jsp</url-pattern>

	</filter-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>