@import url("transform.css");
/*reset*/
html, body, div, span,h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, i,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,del { margin:0; padding:0; border:0; outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
q:before, q:after {content:''; content:none;}
button,input,select,textarea{font-size:100%; margin: 0;	outline: 0 none;vertical-align: baseline;*vertical-align: middle; padding:0;font-family:"microsoft yahei",simhei;}
input:active{ outline:none;}
textarea{overflow: auto;vertical-align:top; resize:none;}
button,input[type="button"], input[type="reset"],input[type="submit"]{cursor: pointer;  *overflow: visible;}
a { margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;background:transparent;}
em{ font-style:normal;}
table { border-collapse:collapse; border-spacing:0;}
ol,ul ,li{list-style: none;}    
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.clearfix { display: inline-table; }
* html .clearfix {height: 1%;}
.clearfix { display: block; }
.left{ float:left;}
.right{ float:right;}
.clear {clear:both;}
.hide{ display:none;}
.show{ display:block;}
.center{ text-align:center;}
a{ text-decoration:none; outline:none;color:#333; cursor:pointer;}
a.red{ color:#ff3c3c;}
.red{color:#ff3c3c;}
html,body{height:100%;}
body {font-family:"microsoft yahei",simhei; font-size:12px;}
.wrap{width:1160px; margin:0 auto;}
/*top-line*/
.top-line{ width:100%; height:36px; border-bottom:1px solid #ccc;  font-size:12px;}
.top-line p{ line-height:36px;}
.top-line p a{ padding:0 10px;}
.top-line li{ float:left; height:14px; border-right:1px solid #e0e0e0; padding:0 18px; text-align: center; margin:11px 0;line-height:14px;}
.top-line a:hover{color:#ff3c3c;}
.top-line li.top-cart{ background:url(../images/sprite.png) 6px -4px no-repeat; padding:0 18px 0 26px;}
.top-line li.top-cart strong{ color:#fff; background:#ff3c3c; display:inline-block; min-width:20px; border-radius:7px; height:14px; width:22px;}
.top-line li.top-phone{ background:url(../images/sprite.png) 8px -46px no-repeat; padding:0 18px 0 24px;}
/*header*/
.header{ height:145px; }
.logo{ height:145px; width:292px;background:url(../images/logo.jpg) 50% 50% no-repeat; font-size:0;}
.logo a{ display:block; width:292px; height:145px;}
.header .adress{ height:40px; border-left:1px solid #c5c5c5; margin-top:55px; padding-left:12px;}
.header .adress>span{ color:#666; display:block; width:70px;background:url(../images/sprite.png) 56px -84px no-repeat; height:18px; margin-bottom:4px; cursor:pointer;}
.header .adress>p{ font-size:14px;}
.header .search{margin-right:90px; margin-top:50px;}
.header .search form{border: 2px solid #ff3c3c;  color: #999; font-size: 14px; height: 42px; line-height: 42px;  padding-left: 45px; width: 463px; background:url(../images/sprite.png) -165px 10px no-repeat;}
.header .search .s-input{ height:40px; line-height:40px; border:none; width:350px; color:#999; font-size:14px;}
.header .search .s-button{ width:100px; height:42px; background:#ff3c3c; font-size:18px; text-align:center; line-height:100%; float:right; border:none; color:#fff; outline:none;}
.header .search>p{ line-height:16px; margin-top:5px; color:#999;}
.header .search>p a{ padding:0 3px; color:#999;}
.header .search>p a:hover{color:#ff3c3c;}
/*nav*/
.nav{ height:46px;  background:#313131; color:#fff;}
.nav a{ color:#fff;}
.nav .categorys{ position:relative;}
.nav .categorys .title{ position: relative;width:220px; height:46px;line-height:46px;font-size:15px; font-weight:bold; background:url(../images/sprite.png)  235px -157px no-repeat #444; padding-left:50px; font-size:16px; cursor:pointer; margin-right:30px;}
.nav .categorys .title:hover{ background-position:235px -203px;}
.nav .categorys .title:before{ width:22px; height:18px;background:url(../images/sprite.png)  0px -124px no-repeat; content:''; position:absolute; display:block; top:15px; left:15px; }
.nav .categorys>ul{ position:absolute; width:270px; height:400px; background:#313131; top:46px; left:0; z-index:110;}
.nav .categorys>ul>li{ height:44px; line-height:44px; padding-left:50px; font-size:16px; position:relative; border-bottom:1px solid #505050; cursor:pointer;background:url(../images/sprite.png)  235px -287px no-repeat;}
.nav .categorys>ul>li:hover{ background:url(../images/sprite.png)  235px -287px no-repeat #ff3c3c; border-bottom:1px solid #ff3c3c;}
.nav .categorys>ul>li.active{background:url(../images/sprite.png)  235px -287px no-repeat #ff3c3c;border-bottom:1px solid #ff3c3c;}
.nav-detail ul{ position:absolute; left:270px; top:46; width:180px; background:#ff3c3c; height:400px;z-index:110;}
.nav-detail ul>li>a{ display:block; width:150px; margin-left:15px;height:44px; line-height:44px;border-bottom:1px solid #ff5959; text-align:center; font-size:14px;}
.nav-detail ul>li:hover{ background:#da251d;}
.nav-detail ul>li:hover a{border-bottom:1px solid #da251d;}
.nav>.wrap>ul>li{ float:left; width:112px; position:relative; text-align:center;background:url(../images/sprite.png)  88px -255px no-repeat; cursor:pointer; margin-right:15px;}
.nav>.wrap>ul>li>a{ font-size:15px; font-weight:bold;line-height:46px;}
.nav>.wrap>ul>li>ul{ position:absolute; top:46px; left:0; width:112px; background:#313131; z-index:113;}
.nav>.wrap>ul>li>ul>li{ height:44px; line-height:44px;border-bottom:1px solid #505050; text-align:center; font-size:14px;}
.nav>.wrap>ul>li>ul>li:hover{background:#ff3c3c;border-bottom:1px solid #ff3c3c;}
.nav>.wrap>ul>li:hover>a{ color:#ff3c3c;}
.crumbs{ height:30px; line-height:30px; font-size:14px; padding:15px 0;}
.crumbs span{ color:#999;}
.crumbs strong,.crumbs strong a{ color:#000; font-weight:bolder;}
/*service*/
.service{border-top:1px solid #e9e9e9; height:130px;}
.service ul{ padding-top:29px;}
.service li{ width:232px; float:left; height:62px; position:relative;}
.service li:after{width:1px; height:30px;content:''; position:absolute; display:block; top:15px; right:0px; background:#ddd;}
.service li:last-child:after{ display:none;}
.service li .imghloder{ width:62px; height:62px; float:left; margin-right:12px; margin-left:18px;}
.service li.service-icon01 .imghloder{ background:url(../images/service.png) 0 0 no-repeat;}
.service li.service-icon02 .imghloder{ background:url(../images/service.png) 0 -76px no-repeat;}
.service li.service-icon03 .imghloder{ background:url(../images/service.png) 0 -150px no-repeat;}
.service li.service-icon04 .imghloder{ background:url(../images/service.png) 0 -225px no-repeat;}
.service li.service-icon05 .imghloder{ background:url(../images/service.png) 0 -300px no-repeat;}
.service li dl{ float:left; margin-top:10px;}
.service li dt{ font-size:16px; font-weight:bold; line-height:24px;}
.service li dd{ font-size:14px; color:#999;}
.service ul li:hover .imghloder{animation:myservice 0.5s ease-in;-moz-animation:myservice 0.5s ease-in; -webkit-animation:myservice 0.5s ease-in; -o-animation:myservice 0.5s ease-in;}
/*footer*/
.footer{background:#222; font-size:14px; padding:30px 0; border-top:5px solid #ff3c3c;}
.footer-menu>li{ float:left; color:#666; width:14%;}
.footer-menu>li>ul>li{ height:30px; line-height:30px;}
.footer-menu>li strong{ color:#fff;}
.footer-menu>li>ul>li>a{ color:#666; padding-left:8px;}
.footer-menu>li>ul>li>a:hover{color:#ff3c3c; text-decoration:underline;}
.footer-menu>li.f-er{ width:16%; float:right;}
.footer-menu>li.f-er .imghloder{ width:123px; height:123px; overflow:hidden; margin-bottom:12px; border:5px solid #fff;}
.footer-menu>li.f-er .imghloder img{ width:123px;}
.footer-menu>li.f-er em{ font-style:normal; font-size:12px;}
.certification{ text-align:center; padding:50px 0 0 0;}
.certification a{ padding-right:10px;}
.copyright{color:#a3a3a3;line-height:36px; height:36px; text-align:center; background:#000; font-size:12px;}
/*fixed-menu*/
.fixed-menu{ width:34px; position:fixed; height:100%; top:0; right:0; background:#313131; z-index:20;}
.fixed-menu a{ color:#fff; display:block;padding:5px 9px;width:12px;word-wrap:break-word;word-break:nomal; line-height:20px; text-align:center;}
.fixed-menu a:hover{color:#ff3c3c;}
.fixed-menu i{ width:32px; height:32px; display:block; background:url(../images/sprite.png) 0 0 no-repeat;}
.fixed-menu>div{ position:absolute; z-index:25;}
.fixed-user{ top:60px; width:32px;  text-align:center; border-bottom:1px solid #414141;}
.fixed-user a{border-top:1px solid #414141; padding:10px 9px;}
.fixed-cart{top:280px; width:32px;  text-align:center;}
.fixed-menu .fixed-cart a{ padding-top:2px; padding-bottom:10px;}
.fixed-cart span{color:#fff; background:#ff3c3c; display:inline-block; min-width:20px; border-radius:7px; height:14px; width:22px; line-height:14px;}
.fixed-service{bottom:230px; width:32px;  text-align:center; }
.fixed-feedback{bottom:115px; width:32px;  text-align:center; }
.fixed-backtop{bottom:55px;  width:32px;  text-align:center;}
.fixed-menu .fixed-backtop a{padding:10px 0px;width:32px;}
.fixed-close{bottom:5px;  width:32px;  text-align:center; font-size:0;}
.fixed-menu .fixed-close a{ padding:2px 0;}
.fixed-menu .fixed-user a i{ background-position:-182px -153px;}
.fixed-menu .fixed-cart a i{ margin-bottom:5px; background-position:-180px -94px;}
.fixed-menu .fixed-service a{ position:relative;}
.fixed-menu .fixed-service a i{ background-position:-176px -200px; position:absolute; top:-24px; left:6px;}
.fixed-menu .fixed-feedback a{ position:relative;}
.fixed-menu .fixed-feedback a i{ background-position:-178px -250px;position:absolute; top:-24px; left:6px;}
.fixed-menu .fixed-backtop a i{ margin-bottom:5px; background-position:-178px -290px; width:20px; height:20px; margin-left:6px;}
.fixed-menu .fixed-close a i{ background-position:-178px -340px;width:20px; height:20px; margin-left:6px;}
/*page*/
.page{width:700px; height:32px; float:right; font-size: 14px; padding:30px 0 0 0;}
.page a{color:#000; line-height:30px; margin-left:4px; font-size: 14px; border: 1px solid #ccc; display:inline-block; height:30px; padding:0 12px; cursor:pointer;}
.page a:hover{ background:#313131; color:#fff;}
.page a.curr{ background:#313131; color:#fff;}
.page-button{  height:32px; float:right; margin-right:5px;}
.page-info{height:32px; float:right; margin-right:5px; padding:0px 2px 2px 1px; font-size: 14px; line-height:32px;}
.page-info input{ width:32px; height:30px; border: 1px solid #ccc; padding-left:5px;}
.page-info span{ padding:0 5px;}