<?xml version="1.0" encoding="UTF-8" standalone="no"?><EmailConfigInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Host>smtp.163.com</Host>
  <Port>25</Port>
  <UserName>linyjDev@163.com</UserName>
  <Password>opnpwhqzljlxrhiy</Password>
  <From>linyjDev@163.com</From>
  <FromName>linyjDev@163.com</FromName>
  <FindPwdBody>&lt;p&gt;{shopname}{siteurl}{username}{deadline}{url}&lt;/p&gt;</FindPwdBody>
  <SCVerifyBody>&lt;p&gt;{shopname}{siteurl}{username}{deadline}{url}&lt;/p&gt;</SCVerifyBody>
  <SCUpdateBody>&lt;p&gt;{shopname}{siteurl}{username}{deadline}{url}&lt;/p&gt;</SCUpdateBody>
  <WebcomeBody>&lt;p&gt;{shopname}{regtime}{email}&lt;/p&gt;</WebcomeBody>
</EmailConfigInfo>