<?xml version="1.0" encoding="UTF-8" standalone="no"?><ShopConfigInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <ShopName>红狮水泥商城</ShopName>
  <SiteUrl>www.runlion.com</SiteUrl>
  <NcUrl></NcUrl>
  <SiteTitle>红狮水泥商城</SiteTitle>
  <SEOKeyword>红狮水泥商城</SEOKeyword>
  <SEODescription>红狮水泥商城</SEODescription>
  <ICP>冀ICP22222</ICP>
  <Script/>
  <IsLicensed>0</IsLicensed>
  <PCTheme>default</PCTheme>
  <MobileTheme>default</MobileTheme>
  <WeChatTheme>default</WeChatTheme>
  <AppTheme>default</AppTheme>
  <RegType>123</RegType>
  <ReservedName>admin</ReservedName>
  <IsWebcomeMsg>1</IsWebcomeMsg>
  <WebcomeMsg>热烈欢迎</WebcomeMsg>
  <RegTimeSpan>0</RegTimeSpan>
  <LoginType>123</LoginType>
  <ShadowName>myname</ShadowName>
  <IsRemember>1</IsRemember>
  <LoginFailTimes>3</LoginFailTimes>
  <UploadServer/>
  <UploadImgType>.jpg,.jpeg,.png,.gif,.flash</UploadImgType>
  <UploadImgSize>900000</UploadImgSize>
  <WatermarkType>0</WatermarkType>
  <WatermarkQuality>30</WatermarkQuality>
  <WatermarkPosition>4</WatermarkPosition>
  <WatermarkImg>watermark.png</WatermarkImg>
  <WatermarkImgOpacity>0.5</WatermarkImgOpacity>
  <WatermarkText>红狮水泥商城</WatermarkText>
  <WatermarkTextFont>微软雅黑</WatermarkTextFont>
  <WatermarkTextSize>18</WatermarkTextSize>
  <BrandThumbSize>50_50,70_70,100_100</BrandThumbSize>
  <ProductShowThumbSize>60_60,100_100,190_190,218_218,230_230,245_330,300_300,350_350,800_800</ProductShowThumbSize>
  <UserAvatarThumbSize>50_50,70_70,100_100</UserAvatarThumbSize>
  <UserRankAvatarThumbSize>50_50,70_70,100_100</UserRankAvatarThumbSize>
  <ImageCDN/>
  <CSSCDN/>
  <ScriptCDN/>
  <OnlineUserExpire>8</OnlineUserExpire>
  <MaxOnlineCount>10000</MaxOnlineCount>
  <OnlineCountExpire>0</OnlineCountExpire>
  <UpdateOnlineTimeSpan>2</UpdateOnlineTimeSpan>
  <UpdatePVStatTimespan>3</UpdatePVStatTimespan>
  <IsStatBrowser>1</IsStatBrowser>
  <IsStatOS>1</IsStatOS>
  <IsStatRegion>1</IsStatRegion>
  <IsClosed>0</IsClosed>
  <CloseReason/>
  <BanAccessTime/>
  <BanAccessIP/>
  <AllowAccessIP/>
  <AdminAllowAccessIP/>
  <SecretKey>12345678</SecretKey>
  <CookieDomain/>
  <RandomLibrary>123456789abcdefghjkmnpqrstuvwxy</RandomLibrary>
  <VerifyPages>/account/login,/account/register,/account/findpwd</VerifyPages>
  <IgnoreWords/>
  <AllowEmailProvider/>
  <BanEmailProvider/>
  <IsGuestSC>1</IsGuestSC>
  <SCSubmitType>0</SCSubmitType>
  <GuestSCCount>30</GuestSCCount>
  <MemberSCCount>50</MemberSCCount>
  <SCExpire>8</SCExpire>
  <OSNFormat>{addtime}{uid}{srid}</OSNFormat>
  <OnlinePayExpire>24</OnlinePayExpire>
  <OfflinePayExpire>7</OfflinePayExpire>
  <BroHisCount>8</BroHisCount>
  <MaxShipAddress>12</MaxShipAddress>
  <FavoriteCount>20</FavoriteCount>
  <AfterSale>如您在红狮商城遇到任何问题、疑问或有关事项咨询，请通过以下方式联系我们，我们将24小时为您提供服务：&lt;br /&gt;1、在线服务：在红狮商城页面客户服务界面咨询。&lt;br /&gt; 2、电话咨询：请拨打4008555888咨询。&lt;br /&gt; &lt;img src="/themes/default/images/producthelper.png" width="760" alt="" /&gt;</AfterSale>
</ShopConfigInfo>