<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myfirstapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <!--
	从 Android 3.0(API lever 11) 开始，所有使用 Theme.Holo 主题（或者它的子类）的activity 都包含了 action bar，
       当 targetSdkVersion 或 minSdkVersion 属性被设置成 “11” 或更大时，它是默认主题。
	当 app 运行在 Andriod 3.0 以下版本（不低于 Android 2.1）时，如果要添加 action bar，需要加载 Android Support 库。
	建立v7 appcompat library（下载完library包之后，按照Adding libraries with resources的指引进行操作）。

    Theme.Holo，一个 “暗” 的主题
    Theme.Holo.Light，一个 “淡” 的主题
	这些主题即可以被应用到 app 全局，又可以为单一的 activity 通过在 manifest 文件中设置 <application> 元素 
	或 <activity> 元素的 android:theme 属性。

	当使用 Support 库时，必须使用 Theme.AppCompat 主题替代：
    Theme.AppCompat，一个“暗”的主题
    Theme.AppCompat.Light，一个“淡”的主题
    Theme.AppCompat.Light.DarkActionBar，一个带有“暗” action bar 的“淡”主题
    -->


    <!-- 获取External存储的权限(sd卡) -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 发送文件给其他设备 -->
    <uses-permission android:name="android.permission.NFC" />
    <!-- 拍照 -->
    <uses-feature android:name="android.hardware.camera" />
    <!-- 使用WiFi建立P2P连接 -->
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="true" />

    <!-- 指定NFC功能 -->
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <application
        android:name="MainApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >

        <!--
        为了从你的应用安全地将一个文件发送给另一个应用，你需要配置你的应用来提供安全的文件句柄（URI的形式），
        Android的FileProvider组件会基于你在XML文件中的具体配置，为文件创建URI
        -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.myfirstapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <!-- 主 main/home 活动 (没有上级活动) -->
        <activity
            android:name="MainActivity"
            android:label="@string/activity_main"
            android:theme="@android:style/Theme.Holo" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 主活动的一个子活动 -->
        <activity
            android:name="com.example.myfirstapp.DisplayMessageActivity"
            android:label="@string/activity_displayMessage"
            android:parentActivityName="com.example.myfirstapp.MainActivity"
            android:theme="@android:style/Theme.Holo.Light" >

            <!-- meta-data 用于支持 support 4.0 以及一下来指明上级活动 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myfirstapp.MainActivity" />
        </activity>

        <!-- 添加多个 Intent Filter -->
        <activity android:name="ShareActivity" >

            <!-- filter for sending text; accepts SENDTO action with sms URI schemes -->
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
            </intent-filter>
            <!-- filter for sending text or images; accepts SEND action and text or image data -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <!-- 文件共享 -->
        <activity
            android:name="FileSelectActivity"
            android:label="@string/activity_FileSelector" >
            <intent-filter>
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="text/plain" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <!-- 手势描绘 -->
        <activity
            android:name="activity.GestureRecogniseSampleActivity"
            android:label="@string/activity_Gesture" >
            <intent-filter>

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.myfirstapp.photo.ImageDetailActivity"
            android:label="@string/activity_ImageDetail" >
            <intent-filter>
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="text/plain" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.myfirstapp.opengl.OpenGLES20Activity"
            android:label="@string/activity_OpenGLES20" >
            <intent-filter>
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="text/plain" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
    </application>

</manifest>